* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: big;
    src: url(fuentestx/Big_Shoulders_Stencil/BigShouldersStencil-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fuentestx/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(fuentestx//Poppins/Poppins-Light.ttf);
}

body {
    background-color: rgba(0, 0, 0, 0.945);
    font-family: Poppins;
    color: white;
   
}


/*este es el fondo */
canvas {
    position: absolute;
    filter: brightness(70%);
    z-index: -1;
}

.header {
    position: fixed;
    z-index: 4;
}

.nav-left img {
    height: 1.2em;
}

.title-nav {
    color: white;
    font-size: 160px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 10px;
    text-transform: uppercase;
    animation: 4s ease infinite reverse glow;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1em;
    color: white;
    background-color: #000000;
}

.nav ul {
    list-style: none;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    width: 102em;
}

.nav-right li {
    width: 15em;
    transition: all 0.3s ease;

}

.nav-right a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em;
    font-family: roboto;
    letter-spacing: 3px;

}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 100%;

}

.nav-left li {
    text-transform: capitalize;
    font-family: big;
    font-size: 2.5em;
    letter-spacing: 3px;

}

.nav-right a:hover {
    border-bottom: 2px solid rgb(121, 0, 202);
    color: #923ef1;
    transition: all 0.8s ease;

}

.nav-right li:hover {
    transform: translateY(-4px);

}

.active {
    border-bottom: 2px solid rgb(121, 0, 202);
    /* Cambia el fondo del enlace */
    color: #923ef1;
    /* Cambia el color del texto */

}



.bienvenida {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}

.bienvenida img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    filter: brightness(70%);
    object-position: 0% 8%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    animation: subir 2.5s ease-in-out infinite;
}

@keyframes subir {


    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0px)
    }

}


.word {
    border-bottom: 4px solid #5500b677;
    position: absolute;
    bottom: 1.5em;
    font-family: big;
    font-size: 90px;
    color: rgb(255, 255, 255);
    line-height: 1.4em;
    height: 1.2em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    animation: brillar 5s infinite;
}

.word:before {
    content: '';
    background-color: rgb(253, 253, 253);
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
}



.scroll-down {
    position: absolute !important;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: white;
    text-decoration: none;
    animation: bounce 2s infinite;
    z-index: 3;

}

/* animar el scroll-down*/
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-30px);
        color: rgba(0, 0, 0, 0.473);

    }

    60% {
        transform: translateX(-50%) translateY(-15px);
    }
}

.pres {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5em;
}

.pres h4 {
    color: white;
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 5em;
    letter-spacing: 45px;
    animation: brillar 5s infinite;
}

@keyframes brillar {


    0% {
        text-shadow: white 0px 0px 20px;
    }

    50% {
        text-shadow: white 0px 0px 0px;
    }

    100% {
        text-shadow: white 0px 0px 20px;
    }

}

.pres-logo strong {
    color: white;
    text-transform: capitalize;
    font-size: 5em;
    font-family: big;
    letter-spacing: 10px;


}

.pres-logo img {
    height: 5em;
}

.pres-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2em;
    margin-bottom: 2em;
}

#carrusel {
    position: relative;
    width: 100%;
    height: 40em;
    /* Ajusta según tus necesidades */
    overflow: hidden;
    z-index: 1;
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-slide {
    min-width: 100%;
    height: 40em;

}

.carrusel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto hará que la imagen cubra todo el espacio disponible
    El object-fit: cover asegurará que la imagen llene todo el espacio del slide sin
     distorsionarse, recortando las partes que sobresalgan. Si prefieres ver la imagen 
    completa y que se ajuste al contenedor, puedes usar object-fit: contain en su lugar. */
    object-position: center above;
    /* Centra la imagen */
    filter: brightness(80%);
    overflow: hidden;
}

/* .carrusel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
} */


.des-carrusel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10em;
}

.de-carrusel p {
    color: white;
    font-size: 1.3em;
    width: 50em;
    text-transform: capitalize;
    letter-spacing: 3px;

}

.fondo-section {
    background-image: url(img/IMG_SAM1980.jpg);
    filter: brightness(40%);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: scroll;
    -webkit-transform: translateZ(-1);
    /*Soluciona problemas de renderizado  */

}




.eje-left {
    height: 20em;
    width: auto;


}

.cards-prods {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 24em;
    height: 35em;
    margin: 2em;
    box-shadow: 1px 1px 20px rgba(84, 0, 168, 0.511);
}

.cards-prods img {
    height: 15em;
}

.cards-prod {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.cards-prod h2 {
    text-transform: capitalize;
    margin: 1em;
}

.cards-prod p {
    text-transform: capitalize;
    font-size: 1em;
    margin: 1em;
}

.btn-cards {
    position: absolute;
    top: 30em;
    left: 1em;

}

.btn-cards a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: rgb(121, 0, 202);
    padding: 0.5em;
    color: white;
}

.btn-cards a:hover {
    background-color: #923ef1;
}

/*pagina sobre mi */

.section-bienvenida2 {
    background-image: url(img/IMG_SAM2228.jpg);
    background-position: top;
    filter: brightness(60%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: scroll;
}

.bienvenida2 {
    display: flex;
    align-items: right;
    padding-left: 20em;
    flex-direction: column;
    height: 35em;
    justify-content: center;
}

.bienvenida2 h4 {
    font-size: 3em;
    color: white;
    text-transform: capitalize;
    font-family: roboto;
    line-height: 1.4em;
    letter-spacing: 3px;
}

.presentacion2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4em;
}

.pres2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.pres2 img {
    height: 25em;
    width: 25em;
    padding: 1em;
    border: 4px solid #5500b6;
    margin-left: 15em;
    border-radius: 50%;
    background-position: center;
    object-fit: cover;
    object-position: 0% 8%;
}

.pres2 p {
    color: white;
    width: 50em;
    font-size: 1.3em;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 3px;
    padding: 1em;
}

.fondo-section2 {
    background-image: url(img/IMG_SAM2228.jpg);
    filter: brightness(60%);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.eje-left2 {
    height: 20em;
    width: auto;
    color: white;

}

.presentacion3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4em;
}

.pres3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pres3 p {
    width: 50em;
    font-size: 1.3em;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 3px;
    padding: 1em;
}

/*foooter*/
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.footer1 {
    height: 5em;
    display: flex;
    align-items: center;
}

/*blogs*/

.fondo-blog {
    background-image: url(img/IMG_SAM0817.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    filter: blur(10px);
}

.blogs-tex {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 1.3em;
    backdrop-filter: none;

}

.section-reflexiones {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 40em;
}

.reflexiones {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

/* Móvil (menor a 768px) */
@media screen and (max-width: 768px) {

    .nav {
        height: 2em;
    }

    .bienvenida {
        height: 100vh;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
    }

    .bienvenida img {
        margin-top: 2em;
        height: 100vh;
        object-fit: cover;
        filter: brightness(70%);
        object-position: 50% 50%;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
        animation: subir 2.5s ease-in-out infinite;
    }

    .nav-left {
        width: 100vh;
    }



    .hamburger {
        position: fixed;
        background-color: transparent;
        left: 20em;
        top: 5px;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    ._layer {
        background: white;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .nav-right.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .nav-right {
        background-color: rgba(0, 0, 0, 0.773);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
        flex-direction: column;
    }

    .nav-right {
        margin: 0;
        padding: 0;
    }

    .nav-right li {
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        line-height: 4em;
        height: 3em;
        text-transform: capitalize;
        font-weight: bold;
    }

    .nav-right li a {
        text-decoration: none;
        color: white;
    }

    .nav-right li a:hover {
        text-decoration: none;
        color: #923ef1;
    }

    .cards-prod {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cards-prods {
        width: 22em;
    }


    .pres h4 {
        color: white;
        text-transform: uppercase;
        line-height: 1.5em;
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 15px;

    }


    .de-carrusel p {
        width: 15em;
    }

    .carrusel-slide {
        height: 20em;
    }

    #carrusel {
        height: 20em;
    }

    /*
.fondo-section::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/IMG_SAM1980.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
  } */
    .fondo-section {
        position: relative;
        overflow: hidden;
        /* Evita que la imagen se salga del div */
    }

    .fondo-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/IMG_SAM1980.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(40%);
        transform: translateZ(0);
        /* Mejora el renderizado en iOS */
        will-change: transform;
    }

    .fondo-section {
        position: relative;
        background-image: url(img/IMG_SAM1980.jpg);
        filter: brightness(40%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        /* Evita problemas en iOS */
    }

    @supports (-webkit-touch-callout: none) {

        /* Aplica solo en iOS */
        .fondo-section {
            background-attachment: scroll;
        }
    }


    /*sobre mi*/

    .section-bienvenida2 {
        background-image: url(img/IMG_SAM2228.jpg);
        background-position: top;
        filter: brightness(60%);
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: scroll;
        -webkit-transform: translateZ(-1);
        /* Soluciona problemas de renderizado */

    }

    .bienvenida2 {
        align-items: center;
        padding: 2em;
    }

    .pres2 {
        align-items: center;
        flex-direction: column;

    }

    .pres2 img {
        height: 10em;
        width: 10em;
        margin: 0;
    }

    .pres2 p {
        width: 10em;
    }

    .pres3 p {
        width: 15em;
    }



}

/* Tabletas (768px - 1024px) */
@media screen and (min-width: 768px) and (max-width: 1720px) {

    .nav {
        width: 3em;
    }

    .nav-left {
        display: none;
    }

    .hamburger {
        position: fixed;
        background-color: transparent;
        left: 0;
        top: 5px;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    ._layer {
        background: white;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .nav-right.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .nav-right {
        background-color: rgba(0, 0, 0, 0.773);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
        flex-direction: column;
    }

    .nav-right {
        margin: 0;
        padding: 0;
    }

    .nav-right li {
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        line-height: 4em;
        height: 3em;
        text-transform: capitalize;
        font-weight: bold;
    }

    .nav-right li a {
        text-decoration: none;
        color: white;
    }

    .nav-right li a:hover {
        text-decoration: none;
        color: #923ef1;
    }

    .cards-prod {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cards-prods {
        width: 22em;
    }

    .pres-logo strong {
        font-size: 2em;
    }

    .pres-logo img {
        height: 3em;
    }

    .de-carrusel p {
        width: 15em;
    }

    .carrusel-slide {
        height: 20em;
    }

    #carrusel {
        height: 20em;
    }

}